.container {

    min-width: 800px;
    height: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid_items {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.grid_items:hover {
    cursor: pointer;
}

.grid_items1 {
    grid-area: 1 / 1 / 7 / 2;
    background-color: red;
}

.grid_items2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: blue;
}

.grid_items3 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: green;

}

.grid_items4 {
    grid-area: 2 / 2 / 6 / 4;
    background-color: purple;

}

.grid_items5 {
    grid-area: 6 / 2 / 7 / 3;
    background-color: sandybrown;

}

.grid_items6 {
    grid-area: 6 / 3 / 7 / 4;
    background-color: yellow
}